---
layout: default
---

<ul class="flex flex-col space-y-4">
  <li>
    <a href="{{ site.baseurl }}/dark_mode" class="text-gray-900 dark:text-gray-200">Dark Mode</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/del_message" class="text-gray-900 dark:text-gray-200">Delete Message popup</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/nav_burger" class="text-gray-900 dark:text-gray-200">Navbar Burger for mobile view</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/thumbnail" class="text-gray-900 dark:text-gray-200">Customization Animate Image Thumbnail</a>
  </li>
</ul>
